asgiref==3.5.2
certifi==2022.5.18
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
Django==4.0.4
django-tinymce==3.4.0
gTTS==2.2.4
idna==3.3
Jinja2==3.1.2
opencv-python==4.5.5.64
jmespath==1.0.0
MarkupSafe==2.1.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
template==0.7.6
toml==0.10.2
tzdata==2022.1
urllib3==1.26.9
gunicorn==20.1.0
whitenoise==6.1.0
