{% extends 'main.html' %} {% load static %} {% block style %}
{% endblock style%} {% block title %}
  {% if page == 'edit'%}
    Edit Category
  {%else%}
    Add Category
  {%endif%}
{% endblock title %} 
{% block content %}
<div class="card border-dark bg-light my-1">
  <p class="card-header h3 text-white bg-dark">
    {% if page == 'edit'%}
      CATEGORY
      {% if choice == "1"%} VIDEO {%endif%}
      {% if choice == "2"%} TV {%endif%}
      {% if choice == "3"%} RADIO {%endif%} 
      DETAIL
    {% else %}
      ADD CATEGORY FOR 
      {% if choice == "1"%} VIDEO {%endif%}
      {% if choice == "2"%} TV {%endif%}
      {% if choice == "3"%} RADIO {%endif%}
    {% endif%}</p>

  <form class="font-weight-bold p-4" method = "POST" enctype="multipart/form-data" action = "">
    {% csrf_token %}
    {% if page == 'edit' %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="exampleFormControlInput1">ID</label>
        <input
          name="id"
          type="number"
          value="{{category.cat_id}}"
          class="form-control"
          required
          id="exampleFormControlInput1"
          readonly="readonly"
        />
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input
        name="Name"
        type="text"
        value="{{category.cat_name}}"
        class="form-control"
        required
        id="exampleFormControlInput1"
      />
    </div>

    <div class="form-group">
      <label for="fromFile" class="form-label">Thumbnail</label>
      <div class="custom-file">
        <input
          type="file"
          name="file_img"
          class="custom-file-input"
          id="image_picker"
          accept="image/*"
        />
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <img
          id="image"
          class="pt-2 img-fluid w-25"
          alt="Can't show that picture"
          src="{{category.cat_image}}"
        />
        <input type="hidden" name="thumbnail" value="{{category.cat_image}}">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Status</label>
      <select name = "status" class="form-control" id="exampleFormControlSelect1">
        {% if category.cat_status == 1 %}
        <option name="status" value="1" selected="selected">Enable</option>
        <option name="status" value="0">Disable</option>
        {% else %}
        <option name="status" value="1">Enable</option>
        <option name="status" value="0" selected="selected">Disable</option>
        {% endif %}
      </select>
    </div>

    <div class="d-flex mt-5 flex-row justify-content-end align-items-center">
      <input type="submit" class="btn btn-primary mr-1" value="Save" />
      <a type="button" class="btn btn-danger" href="{% url 'category:category' pk=choice %}">Cancel</a>
    </div>
  </form>
</div>

<script>
  document.getElementById("image_picker").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>
{% endblock content %}
